@mixin boxShadow {
  // Matched from https://material.io/components/cards/
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  // Matched from https://material.io/components/buttons/
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonTransition {
  transition:
    right 0.5s,
    bottom 0.5s,
    border-radius 0.5s,
    text-indent 0.2s,
    visibility 1s,
    width 0.2s ease,
    height 0.5s ease 0.4s,
    color 0.5s,
    background-color 2s,
    transform 0.5s;
}
