@import "mixins";

//create conversation cards
.topic-body {
  padding: 20px;
}

//increase space between post meta and post content
.boxed .contents {
  padding: 20px 0 0;
}

//remove stray border from bottom of last post
.topic-status-info {
  border-top: 0;
}

#topic-closing-info {
  border: none;
}

//remove lines between cards
.topic-post article {
  border: none;
}

//put shadow on quotes as well
aside.quote {
  @include boxShadow;
}

// RTL Overrides
.rtl {
  .topic-avatar {
    padding-left: initial;
    padding-right: 10px;

    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }
}
