$icon-color: dark-light-choose($tertiary, $quaternary);
$link-color: dark-light-choose(darken($tertiary, 15%), $tertiary);
$material-lighter-secondary: lighten($secondary, 10%);

:root {
  --material-lighter-secondary: #{$material-lighter-secondary};
  --header_primary-rgb: #{hexToRGB($header_primary)};
  --icon-color: #{$icon-color};
  --icon-color-rgb: #{hexToRGB($icon-color)};
  --link-color: #{$link-color};
}
