@import "mixins";
@import "colors";

//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

// make header icons semi-translucent
.d-header-icons {
  .d-icon {
    color: rgba(var(--icon-color-rgb), 0.95);
  }
}

//raise and round buttons
.btn {
  border-radius: 4px;
  @include boxShadow;

  &.btn-flat.close {
    box-shadow: none;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

// Topic adjustments

.small-action {
  border-top: 1px solid $post-border-color;
  max-width: 808px;

  .small-action-desc.timegap {
    color: var(--primary-high);
  }

  button {
    margin-left: 1em;
    background-color: var(--material-lighter-secondary);
  }
}

.read-state {
  right: 1em;
}

.gap {
  margin-top: 1em;
}

.post-notice {
  border: none;
  background: transparent;
  margin-left: 50px;
  margin-top: 0.75em;
}

.popup-menu .btn {
  box-shadow: none;
}

//more space for avatars
.topic-avatar {
  padding-top: 20px;
  padding-left: 10px;

  .avatar-flair {
    right: 4px;
  }
}

.topic-body {
  border-top: 1px solid $post-border-color;
  background-color: var(--secondary);
}
